deviceList:
  - name: "{{ name | replace('-','') }}"
    profileName: "Linux Server"
    description: "{{ name | replace('-','') }}"
    labels: [ "iot" ]
    protocols:
      other:
        Address: "{{ address }}"
        Port: "161"
        Community: "public"
        Version: "2c"
    autoEvents:
      - interval: "5s"
        onChange: true
        sourceName: "uptime"
