[
  {
    "apiVersion": "v3",
    "device": {
      "name": "{{ name | replace('-','') }}",
      "description": "{{ name | replace('-','') }}",
      "adminState": "UNLOCKED",
      "operatingState": "UP",
      "labels": [
        "server linux"
      ],
      "serviceName": "device-snmp",
      "profileName": "linuxServer",
      "protocols": {
        "TCP": {
          "Address": "{{ address }}",
          "Port": "161"
        }
      },
      "AutoEvents": [
        {
          "Interval": "10s",
          "OnChange": true,
          "SourceName": "uptime"
        }
        
      ]
    }
  }
]
